{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Edit{% endblock title %}
{% block content %}
<<div class="title">
  <h2>Edit your account</h2>
  <p>You can edit your account using the follow form</p>
</div>
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <div class="">
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="{% url 'snowxtrem:password_change' %}" class="btn btn-warning">Change password</a>
    </div>
    {% endbuttons %}
</form>
{% endblock content %}
